<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="LogToFile" fileName="./logs/logs.txt" immediateFlush="true">
            <PatternLayout>
                <Pattern>%d %p %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="com.example.cemozan.bankingsystemproject.ConsumerKafka" level="info" additivity="false">
            <AppenderRef ref="LogToFile"/>
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        
<!--         <Root level="WARN"> -->
<!--             <AppenderRef ref="LogToFile"/> -->
<!--             <AppenderRef ref="LogToConsole"/> -->
<!--         </Root> -->
    </Loggers>
</Configuration>